.nav {
    grid-area: n;

    background-color: #8ff171;

    border-radius: 10px;
}

.items {
    margin: 0;
    padding: 20px;

    list-style: none;
}

.items a {
    color: black;
    text-decoration: none;
}

.activeLink {
    color: darkorange;
}
