body {
    background-color: #686A77;
}

.app-wrapper {
    display: grid;
    grid-gap: 10px;

    grid-template-areas:
    'h h'
    'n c';

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/

    width: 1280px;
    margin: 0 auto;
}

.app-wrapper-content {
    grid-area: c;

    background-color: #8ff171;

    border-radius: 10px;
}
